body{
    padding: 0;
    margin: 0;
}
div{
    display:grid;
    grid-template-columns: 1fr 3fr 10fr ;
    grid-template-areas:
    "H N M";
    height: auto
}

header{
    grid-area:H;
    background-color: brown;
    height: auto
}

nav{
    grid-area:N;
    background-color: blue;
    height: auto;
}
main{
    grid-area: M;
    background-color: chartreuse;
    height: auto
}