body{
    background-color: dimgray;
}

img{
    width:23%;
    height:150px;
    margin-right: 5px;
}

@media screen and (min-width:500px) and (max-width:750px) {
    body{
        background-color: brown;
    }
    img{
        width:46%;
    }
}

@media screen and (max-width:500px){
    body{
        background-color: rgb(248, 102, 5);
    }
    img{
        width:92%;
    }
}
