body{
    background-color:cornflowerblue;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.clock{
    border:1px 1px solid;
    background-color: white;
    width:200px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size:larger;
}



